
body {
  background-color: lightgreen;
  margin: 0;
  font-family: Arial, sans-serif;
}


.section {
  max-width: 1100px;
  margin: 60px auto;
  background: #f3f4f6; 
  border-radius: 16px;
  padding: 40px 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}


.section h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 40px;
  font-weight: bold;
}


.bookList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  min-height: 100vh;
  color: lightgreen;
}


.book {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
}


.book:hover {
  transform: scale(1.05);
}


.book img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 12px;
  border-radius: 5px;
}


.book h2 {
  margin: 8px 0 4px 0;
  font-size: 16px;
  font-weight: bold;
  color: #222;
}


.book h3 {
  margin: 0;
  font-size: 14px;
  color: gray;
}


.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  font-weight: bold;
}








